html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

header {
	padding: 20px;
}

.ask {
	height: 25px;
	border-radius: 25px;
	padding-left: 5px;
}

.askButton {
	border-radius: 25px;
	height: 25px;
}

.movies-list {
	vertical-align: middle;
	display: inline-block;
}
/*
img {
	float: left;
}*/

